body{
  background-color: rgb(214, 217, 252);
  font-family: Arial, sans-serif;
}

.episodes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.episode-card {
  width: 400px;
  border: 3px solid #000000;
  color: rgb(19, 6, 204);
  border-radius: 10%;
  justify-items: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.episode-card img {
  width: 100%;
  border-radius: 20%;
}

.episode-card h2 {
  color: rgb(19, 6, 204);
  font-size: 1.5rem;
  padding: 10px;
}
.episode-card:hover {
  background-color: #9c57f124;
  border: 3px solid #6404f5;
  border-radius: 10%;
}
#search {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 2px solid #3f47b3;
}

#selectS, #selectE {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 2px solid #3f47b3;
}